<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- 控制台日志配置 -->
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<!-- 日志输出格式 -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date:%5level [%thread] (%file:%line) - %message%newline" />
		</layout>
	</appender>

	<!-- 文件存储日志配置 -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="Log\runtime.log" />
		<appendToFile value="true" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8"/>
		<!-- 每个文件的大小 -->
		<maximumFileSize value="500KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="1" />
		<!--是否只写到一个文件中-->
		<param name="StaticLogFileName" value="true" />
		<!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
		<!--<param name="RollingStyle" value="Date" />-->
		<!--<param name="DatePattern" value="&quot;yyyy-MM-dd.log&quot;"  />-->
		<!-- 日志输出格式 -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date]%level %thread %logger &#10;%message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>