<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="105.3.33" targetFramework="net472" />
  <package id="cef.redist.x86" version="105.3.33" targetFramework="net472" />
  <package id="CefSharp.Common" version="105.3.330" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="105.3.330" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NPinyinPro" version="0.3.3" targetFramework="net472" />
  <package id="PDFtoPrinter" version="1.4.4" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net472" />
  <package id="WpfControls.AutoCompleteTextBox" version="1.0.0.7" targetFramework="net472" />
</packages>